layout_poetry() {
    local venv
    venv=$(poetry env info --path)

    if [[ -d "$venv" ]]; then
        export VIRTUAL_ENV="$venv"
        PATH_add "$VIRTUAL_ENV/bin"
    else
        echo "Poetry virtualenv not found. Did you run 'poetry install'?"
    fi
}

layout poetry
dotenv
